:root {
    --dl-color-gray-400: #212121;
    --dl-color-gray-500: #262626;
    --dl-color-gray-600: #363636;
    --dl-color-gray-650: #696c70;
    --dl-color-gray-700: #b2b2b2;
    --dl-color-gray-800: #d9d9d9;
    --dl-color-gray-900: #f2f2f2;
    --dl-color-gray-black: #000;
    --dl-color-new-purple: #854af6;
    --dl-color-new-redman: #ff6447;
    --dl-layout-size-unit: 1rem;
    --dl-color-gray-dark60: #1c1c1f99;
    --dl-color-gray-dark80: #1c1c1fcc;
    --dl-color-primary-100: #003eb3;
    --dl-color-primary-300: #0074f0;
    --dl-color-primary-500: #14a9ff;
    --dl-color-primary-700: #85dcff;
    --dl-layout-size-image: 700px;
    --dl-layout-space-unit: 16px;
    --dl-color-gray-dark100: #1c1c1f;
    --dl-color-gray-white50: #ffffff80;
    --dl-color-gray-white70: #ffffffb3;
    --dl-color-gray-white80: #ffffffcc;
    --dl-color-new-bluemoon: #00bbe6;
    --dl-color-default-white: #fff;
    --dl-color-gray-white100: #fff;
    --dl-color-primary-rt100: #2874de;
    --dl-layout-radius-round: 50%;
    --dl-layout-size-halfunit: 0.5rem;
    --dl-layout-size-maxwidth: 1218px;
    --dl-color-new-fadeblack40: #50505066;
    --dl-color-new-fadeblack50: #50505080;
    --dl-color-new-fadeblack60: #50505099;
    --dl-color-new-purplefaded: #fbf7ff;
    --dl-layout-radius-radius2: 2px;
    --dl-layout-radius-radius4: 4px;
    --dl-layout-radius-radius8: 8px;
    --dl-layout-space-halfunit: 8px;
    --dl-layout-space-twounits: 32px;
    --dl-color-new-blackmagic70: #161616b3;
    --dl-color-new-blackmagic80: #161616cc;
    --dl-color-new-fadeblack100: #505050;
    --dl-color-new-sun-ta-maria: #ffb32c;
    --dl-layout-radius-radius50: 50px;
    --dl-layout-size-doubleunit: 2rem;
    --dl-layout-size-tripleunit: 3rem;
    --dl-layout-space-fiveunits: 80px;
    --dl-layout-space-fourunits: 64px;
    --dl-color-new-blackmagic100: #161616;
    --dl-color-new-purplepricing: #f1eafe;
    --dl-color-new-stone-white60: #f4f4f499;
    --dl-layout-space-doubleunit: 2rem;
    --dl-layout-space-threeunits: 48px;
    --dl-layout-space-tripleunit: 3rem;
    --dl-color-new-stone-white100: #f4f4f4;
    --dl-color-new-stone-white110: #e4e4e4;
    --dl-layout-custom-spacingunit: 5px;
    --dl-layout-space-oneandhalfunits: 24px
}

.teleport-show {
    display: flex !important;
    transform: none !important
}

.list {
    width: 100%;
    margin: 1em 0;
    display: block;
    padding: 0 0 0 1.5rem;
    list-style-type: none;
    list-style-position: outside
}

.button {
    color: var(--dl-color-gray-500);
    display: inline-block;
    padding: .5rem 1rem;
    font-family: Source Sans Pro;
    border-color: var(--dl-color-gray-500);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white100)
}

.list-item {
    display: list-item
}

.input {
    padding: .5rem 1rem
}

.input,
.textarea {
    color: var(--dl-color-gray-500);
    cursor: auto;
    font-family: Source Sans Pro;
    border-color: var(--dl-color-gray-500);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white100)
}

.textarea {
    padding: .5rem
}

.primary-btn {
    color: #fff;
    height: 43px;
    display: flex;
    font-size: 14px;
    align-items: center;
    font-family: Avenir Heavy;
    white-space: nowrap;
    padding-left: 25px;
    border-radius: 50px;
    padding-right: 25px;
    justify-content: center;
    background-color: #212121
}

.primary-btn,
.secondary-btn {
    text-align: center;
    border-width: 0;
    text-decoration: none
}

.secondary-btn {
    color: var(--dl-color-gray-white100);
    width: 277px;
    outline: none;
    font-size: 18px;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    border-radius: var(--dl-layout-radius-radius50);
    padding: 15px 0;
    background-color: #5865f2
}

.primary-white-btn {
    color: var(--dl-color-gray-black);
    height: 47px;
    font-size: 14px;
    font-style: normal;
    word-break: keep-all;
    font-weight: 400;
    line-height: 11px;
    white-space: nowrap;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    letter-spacing: .5px;
    background-color: var(--dl-color-gray-white100)
}

.primary-lg-btn,
.primary-white-btn {
    display: flex;
    align-items: center;
    border-width: 0;
    border-radius: 50px;
    justify-content: center;
    text-decoration: none
}

.primary-lg-btn {
    color: #fff;
    width: auto;
    height: 62px;
    font-size: 18px;
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #212121
}

.mobile-header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2000;
    position: fixed;
    transform: translateX(100%);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff
}

.switch {
    width: 60px;
    height: 40px;
    display: inline-block;
    position: relative
}

.slider-logos {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    transition: .4s;
    background-color: #ccc
}

.max-content-width {
    z-index: 1;
    max-width: 1158px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column
}

.max-content-width,
.section-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.section-container {
    flex: 0 0 auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 82px;
    flex-direction: column;
    padding-bottom: 82px
}

.hero-container {
    padding-top: 216px !important;
    padding-bottom: 80px !important;
    background-size: cover
}

.btn-sm {
    padding: 9px 24px;
    font-size: 14px
}

.btn-md,
.btn-sm {
    font-family: Avenir Black;
    font-weight: 800;
    line-height: 24px;
    border-radius: 150px;
    letter-spacing: .01em
}

.btn-md {
    padding: 12px 24px;
    font-size: 16px
}

.btn-lg {
    padding: 16px 32px;
    line-height: 24px;
    border-radius: 4px
}

.btn-lg,
.btn-xl {
    font-size: 16px;
    font-family: Avenir Black;
    font-weight: 900;
    letter-spacing: .01em
}

.btn-xl {
    padding: 20px 32px;
    line-height: 1.5;
    border-radius: 150px
}

.btn-secondary {
    color: var(--dl-color-gray-dark100);
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: rgba(28, 28, 31, .1)
}

.btn-gradient {
    color: var(--dl-color-gray-white100);
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg, #ff5c5c -28.34%, #b23ade 50.58%, #2874de 127.88%);
    transition: .3s;
    border-width: none
}

.btn-gradient:hover {
    color: var(--dl-color-gray-dark100);
    background: #fff;
    transition: .3s
}

.btn-stroke {
    color: var(--dl-color-gray-dark100);
    border: 2px solid rgba(28, 28, 31, .2);
    background-color: var(--dl-color-gray-white100)
}

.btn-main,
.btn-stroke {
    cursor: pointer;
    outline: none
}

.btn-main {
    color: var(--dl-color-gray-white100);
    transition: .3s;
    border-width: 0;
    background-color: var(--dl-color-gray-dark100)
}

.btn-main:hover {
    color: var(--dl-color-gray-dark100);
    background-color: var(--dl-color-gray-white100)
}

.section-content-container {
    width: 48%;
    display: flex;
    max-width: 445px;
    align-items: flex-start;
    flex-direction: column
}

.section-image-container {
    flex: 1 1;
    display: flex;
    max-width: 55%;
    align-items: flex-start;
    flex-direction: column
}

.grid-row-two-to-six {
    width: 100%;
    grid-gap: 32px;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr)
}

.grid-row-three-to-six,
.grid-row-two-to-six {
    flex: 0 0 auto;
    display: grid;
    align-items: stretch;
    justify-items: stretch
}

.grid-row-three-to-six {
    grid-gap: 32px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr)
}

.template-card-container {
    display: flex;
    max-width: 350px;
    text-align: center;
    align-items: flex-start;
    flex-direction: column
}

.template-img-container {
    width: 100%;
    position: relative;
    border-color: hsla(0, 0%, 70%, .4);
    border-width: 1px;
    border-radius: var(--dl-layout-radius-radius8)
}

.template-img-overlay {
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
    opacity: 0;
    position: absolute;
    transition: .3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, .6)
}

.template-img-overlay:hover {
    opacity: 1
}

.pricing-card-container {
    width: 100%;
    height: 100%;
    max-width: 350px;
    border-color: rgba(28, 28, 31, .06);
    border-width: 2px;
    border-radius: var(--dl-layout-radius-radius8);
    flex-direction: column
}

.price-card-feature-container,
.pricing-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
}

.price-card-feature-container {
    width: auto;
    cursor: pointer;
    height: auto;
    position: relative
}

.rotate180 {
    transform: rotate(180deg)
}

.accordion-arrow {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    transition: .3s;
    margin-left: 16px
}

.price-selector-btn {
    color: var(--dl-color-gray-dark80);
    width: 137px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: .3s;
    line-height: 24px;
    border-width: 0;
    border-radius: 9px;
    padding: 6px 20px;
    background-color: var(--dl-color-gray-900)
}

.price-selector-btn:hover {
    color: var(--dl-color-gray-dark100)
}

.price-selector-btn-selected {
    font-weight: 700;
    background-color: var(--dl-color-gray-white100)
}

.feature-tooltip {
    top: -80px;
    left: 0;
    width: 224px;
    display: none;
    opacity: 0;
    z-index: 101;
    position: absolute;
    transition: all .4s;
    border-radius: var(--dl-layout-radius-radius4);
    flex-direction: column;
    padding: 8px 12px;
    background-color: var(--dl-color-gray-dark100)
}

.accordion-header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between
}

.accordion-content {
    display: flex;
    overflow: hidden;
    max-height: 0;
    transition: .3s;
    align-items: flex-start;
    flex-direction: column
}

.price-tag-x-info {
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 16px
}

.price-tag-amount,
.price-tag-x-info {
    font-family: Avenir Black;
    margin-right: 2px
}

.price-tag-amount {
    font-size: 48px;
    align-self: flex-end
}

.animation-fade-in {
    animation-name: fade-in;
    animation-duration: .42s;
    animation-fill-mode: cubic-bezier(.165, .84, .44, 1)
}

.template-image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--dl-layout-radius-radius8)
}

.email-input {
    color: var(--dl-color-gray-white80);
    width: 400px;
    outline: none;
    transition: .3s;
    border-color: hsla(0, 0%, 100%, .1);
    border-width: 2px;
    margin-right: 15px;
    border-radius: 100px;
    padding: 11px 23px 13px;
    background-color: hsla(0, 0%, 100%, .05)
}

.email-input:focus {
    border-color: hsla(0, 0%, 100%, .5)
}

.accordion-arrow-open {
    transform: rotate(90deg);
    margin-left: 0 !important;
    margin-right: 24px !important
}

.accordion-homepage {
    flex: 0 0 auto;
    width: 100%;
    cursor: pointer;
    display: flex;
    transition: .3s;
    align-items: flex-start;
    border-radius: var(--dl-layout-radius-radius4);
    margin-bottom: 12px;
    flex-direction: column;
    padding: 8px 24px
}

.accordion-homepage:hover {
    background-color: rgba(80, 80, 80, .25)
}

.accordion-homepage-open {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    background-color: rgba(80, 80, 80, .25) !important
}

.accordion-homepage-open:hover {
    background-color: rgba(80, 80, 80, .25)
}

.accordion-content-open {
    max-height: -moz-max-content;
    max-height: max-content
}

.accordion-homepage-arrow {
    fill: #505050;
    margin-left: 0 !important;
    margin-right: 24px !important
}

.super-menu-item {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 32px;
    flex-direction: row;
    text-transform: none
}

.super-menu-item-dropdown-dark {
    border-color: var(--dl-color-new-fadeblack50);
    border-width: 1px;
    border-radius: 6px;
    background-color: var(--dl-color-new-blackmagic100)
}

.super-menu-item-dropdown-dark,
.super-menu-item-dropdown-light {
    top: 75px;
    left: -16px;
    width: -moz-max-content;
    width: max-content;
    display: none;
    opacity: 0;
    position: absolute;
    transition: .3s;
    align-items: stretch;
    flex-direction: column;
    padding: 16px
}

.super-menu-item-dropdown-light {
    border: 1px solid hsla(0, 0%, 89%, .6);
    border-radius: 6px;
    background-color: var(--dl-color-gray-white100)
}

.super-menu-item-dropdown-item-column-dark {
    width: 100%;
    display: flex;
    padding: 16px;
    max-width: 304px;
    transition: .3s;
    border-radius: var(--dl-layout-radius-radius4);
    flex-direction: column
}

.super-menu-item-dropdown-item-column-dark:hover {
    background-color: rgba(80, 80, 80, .4)
}

.super-menu-item-dropdown-item-column-light {
    width: 100%;
    display: flex;
    padding: 16px;
    max-width: 304px;
    transition: .3s;
    border-radius: var(--dl-layout-radius-radius4);
    flex-direction: column
}

.super-menu-item-dropdown-item-column-light:hover {
    background-color: hsla(0, 0%, 89%, .4)
}

.super-menu-item-dropdown-item-row-light {
    width: 100%;
    display: flex;
    padding: 16px;
    max-width: 304px;
    transition: .3s;
    border-radius: var(--dl-layout-radius-radius4);
    flex-direction: row
}

.super-menu-item-dropdown-item-row-light:hover {
    background-color: hsla(0, 0%, 89%, .4)
}

.super-menu-item-dropdown-item-row-dark {
    width: 100%;
    display: flex;
    padding: 16px;
    max-width: 304px;
    transition: .3s;
    border-radius: var(--dl-layout-radius-radius4);
    flex-direction: row
}

.super-menu-item-dropdown-item-row-dark:hover {
    background-color: rgba(80, 80, 80, .4)
}

.mobile-menu-link-white {
    color: var(--dl-color-gray-white100)
}

.mobile-menu-link-black,
.mobile-menu-link-white {
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 22px
}

.mobile-menu-link-black,
.navbar-link-black {
    color: var(--dl-color-new-blackmagic100)
}

.navbar-link-black {
    font-size: 14px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 21px
}

.accordion-active-image {
    width: 100%;
    opacity: 1 !important;
    position: absolute;
    transition: .3s;
    visibility: visible !important
}

.animation-infinite-scroll {
    gap: var(--dl-layout-space-oneandhalfunits);
    top: 50%;
    left: 0;
    width: 200%;
    display: flex;
    position: absolute;
    animation: infinite-scroll 20s linear infinite;
    transform: translateY(-50%);
    transition: .3s;
    align-items: center
}

.animation-infinite-scroll:hover {
    animation-play-state: paused
}

.infinite-scroll-slides-container {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.infinite-scroll-slide {
    width: auto;
    display: flex;
    padding: 15px;
    min-width: 100px
}

.burger-menu,
.infinite-scroll-slide {
    align-items: center;
    justify-content: center
}

.burger-menu {
    display: none;
    padding: 5px
}

.accordion-image {
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    opacity: 0;
    position: absolute;
    max-width: 1500px;
    -o-object-fit: contain;
    object-fit: contain;
    visibility: hidden
}

.accordion-image-container {
    width: 55%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    overflow: visible;
    position: relative;
    align-items: flex-start;
    padding-top: 55%;
    flex-direction: column
}

.step-card-container {
    flex: 0 0 auto;
    width: 24%;
    display: flex;
    padding: 36px;
    min-width: 270px;
    transition: .3s;
    align-items: flex-start;
    border-color: var(--dl-color-new-stone-white100);
    border-width: 2px;
    border-radius: var(--dl-layout-radius-radius8);
    flex-direction: column;
    background-color: #161616
}

.step-card-container:hover {
    cursor: pointer;
    background-color: #1f1f1f
}

.step-card-logo-container {
    align-self: stretch;
    margin-top: auto
}

.step-card-logo-container,
.step-card-logos-grey {
    display: flex;
    align-items: flex-start;
    flex-direction: row
}

.step-card-logos-grey {
    gap: 8px
}

.step-card-logos-colored {
    gap: 8px;
    display: none;
    align-items: flex-start;
    flex-direction: row
}

.solutions-card-cta {
    color: var(--dl-color-gray-white100);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-style: normal;
    margin-top: 16px;
    font-family: Space Grotesk;
    font-weight: 600;
    line-height: 24px;
    border-width: 0;
    border-radius: var(--dl-layout-radius-radius2);
    padding: 4px 12px;
    background-color: hsla(0, 0%, 100%, .16)
}

.solutions-card-cta:hover {
    background-color: hsla(0, 0%, 100%, .36)
}

.solutions-card-cta:disabled {
    color: hsla(0, 0%, 100%, .5);
    cursor: not-allowed;
    background-color: hsla(0, 0%, 100%, .16)
}

.solutions-card-container {
    width: 100%;
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    max-width: 368px;
    visibility: hidden;
    align-items: flex-start;
    border-radius: 6px;
    flex-direction: column
}

.footer-link {
    color: var(--dl-color-gray-white70);
    font-size: 14px;
    transition: .3s;
    font-family: Space Grotesk;
    line-height: 24px;
    margin-bottom: 16px;
    text-decoration: none
}

.footer-link:hover {
    color: var(--dl-color-gray-white100)
}

.solutions-card-active {
    z-index: 1 !important;
    visibility: visible !important
}

.solutions-absolute-card {
    top: 0;
    left: 0;
    position: absolute;
    visibility: visible;
    transition-duration: 0s !important
}

.hover-group {
    position: relative
}

.burger-menu-image {
    width: 24px;
    height: 24px
}

.close-mobile-menu {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center
}

.close-mobile-menu-icon {
    width: 24px;
    height: 24px
}

.header-absolute-container {
    position: absolute
}

.header-absolute-container,
.header-fixed-container {
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
}

.header-fixed-container {
    position: fixed;
    box-shadow: 0 -1px 3px rgba(80, 80, 80, .25);
    margin-top: -80px;
    background-color: #fff
}

.fit-content {
    height: -moz-fit-content;
    height: fit-content;
    max-height: 200vh
}

.heading-1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 83px
}

.h1-cms,
.heading-1 {
    width: 100%;
    align-self: center;
    text-align: center;
    font-family: Manrope
}

.h1-cms {
    font-size: 52px;
    font-weight: 800;
    line-height: 65px
}

.h2-cms {
    font-size: 36px;
    line-height: 43px
}

.h2-cms,
.h3-cms {
    width: 100%;
    align-self: center;
    text-align: center;
    font-family: Manrope;
    font-weight: 700
}

.h3-cms {
    font-size: 28px;
    line-height: 38px
}

.h4-cms {
    width: 100%;
    font-size: 22px;
    align-self: center;
    text-align: center;
    font-weight: 700;
    line-height: 22px
}

.h4-cms,
.heading-2 {
    font-family: Manrope
}

.heading-2 {
    font-size: 44px;
    line-height: 55px
}

.heading-3 {
    font-size: 28px;
    line-height: 36px
}

.heading-3,
.heading-4 {
    font-family: Manrope;
    font-weight: 900
}

.heading-4 {
    font-size: 22px;
    line-height: 32px
}

.navbar-link-white {
    color: var(--dl-color-gray-white100);
    font-size: 14px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 21px
}

.right-0 {
    left: auto !important;
    right: 0
}

.release-notes,
.release-notes-images {
    width: 100%;
    display: flex;
    padding: var(--dl-layout-space-doubleunit);
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-400)
}

.banner {
    cursor: pointer;
    display: flex;
    max-width: auto;
    align-items: flex-start;
    border-width: 0;
    flex-direction: row;
    background-color: #0000f5
}

.blaze-track {
    cursor: grabbing
}

.slider {
    -slides-to-show: 3
}

.solutions-card-bg-grey {
    background-color: #383838
}

.solutions-card-bg-white {
    background-color: #fff
}

.hover-group:hover [data-id=solutions-card] {
    transition: 0s;
    visibility: hidden !important
}

.hover-group:hover [data-id=solutions-card-hovered] {
    visibility: visible !important
}

.SmallText-TextStyle {
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none
}

.Heading-3-TextStyleNew {
    font-size: 32px;
    font-family: Avenir Black;
    font-weight: 900;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none
}

.Section-Title {
    font-size: 46px;
    font-family: Source Sans Pro;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none
}

.Heading-4-TextStyle {
    font-family: Manrope;
    font-weight: 700;
    text-transform: none;
    text-decoration: none
}

.Body,
.Heading-4-TextStyle {
    font-size: 20px;
    line-height: 1.55
}

.Body {
    font-family: Space Grotesk
}

.SubHeading {
    font-size: 28px;
    font-family: Source Sans Pro;
    font-weight: 600
}

.Avenir {
    font-size: 15px;
    font-weight: 500
}

.Avenir,
.Heading-3-TextStyle {
    font-family: Avenir Black;
    text-transform: none;
    text-decoration: none
}

.Heading-3-TextStyle {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.55
}

.Heading-1-TextStyleNew {
    font-size: 42px;
    font-family: Avenir Black;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 1%
}

.Heading-1-TextStyleNew,
.Menu-Item {
    text-transform: none;
    text-decoration: none
}

.Menu-Item {
    font-size: 14px;
    font-family: Avenir Heavy;
    font-weight: 500
}

.SmallTextLink {
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: underline
}

.Heading-1-TextStyle {
    font-size: 44px;
    font-weight: 500;
    line-height: 55px
}

.Heading-1-TextStyle,
.Heading-2-TextStyleNew {
    font-family: Avenir Black;
    text-transform: none;
    text-decoration: none
}

.Heading-2-TextStyleNew {
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -1%
}

.Heading-2-TextStyle {
    font-size: 40px;
    font-family: Avenir Black;
    font-weight: 500;
    line-height: 55px;
    text-transform: none;
    text-decoration: none
}

@media(max-width:991px) {
    .section-content-container,
    .section-image-container {
        width: 100%;
        max-width: 100%
    }
    .section-image-container {
        align-self: flex-start;
        margin-top: var(--dl-layout-space-doubleunit)
    }
    .grid-row-two-to-six {
        padding-left: 0;
        padding-right: 0;
        grid-template-rows: repeat(3, 1fr)
    }
    .grid-row-three-to-six {
        padding-left: 0;
        padding-right: 0;
        grid-template-rows: repeat(5, 1fr)
    }
    .accordion-image {
        width: 100%
    }
    .accordion-image-container {
        width: 100%;
        margin-bottom: 0
    }
    .step-card-container {
        width: 48%;
        margin-bottom: 32px
    }
    .right-0 {
        right: auto !important
    }
    .banner {
        flex-direction: column
    }
}

@media(max-width:767px) {
    .section-container {
        padding-top: 48px !important;
        padding-bottom: 48px !important
    }
    .hero-container {
        padding-top: 200px !important;
        padding-bottom: 48px !important;
        background-position: 23% 0
    }
    .grid-row-three-to-six,
    .grid-row-two-to-six {
        grid-gap: 16px
    }
    .template-img-overlay {
        display: none !important
    }
    .pricing-card-container {
        margin-top: 10px;
        margin-bottom: 10px
    }
    .email-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px
    }
    .animation-infinite-scroll {
        animation: infinite-scroll-mobile 20s linear infinite;
        margin-bottom: 48px
    }
    .infinite-scroll-slides-container {
        width: 200%
    }
    .burger-menu {
        display: flex
    }
    .accordion-image-container {
        padding-top: 100%
    }
    .step-card-container {
        width: 100%
    }
    .solutions-card-cta {
        margin-right: 0
    }
    .solutions-card-container {
        visibility: visible
    }
    .header-fixed-container {
        margin-top: -80px
    }
    .heading-1 {
        font-size: 58px;
        line-height: 64px
    }
    .h1-cms {
        font-size: 44px;
        line-height: 54px
    }
    .h2-cms {
        font-size: 28px;
        line-height: 36px
    }
    .h3-cms,
    .h4-cms {
        font-size: 22px;
        line-height: 30px
    }
    .heading-2 {
        font-size: 36px;
        line-height: 44px
    }
    .heading-3 {
        font-size: 24px;
        line-height: 34px
    }
    .heading-4 {
        font-size: 20px;
        line-height: 28px
    }
    .release-notes-images {
        padding: var(--dl-layout-space-unit)
    }
}

@media(max-width:479px) {
    .primary-btn,
    .primary-white-btn {
        display: none
    }
    .primary-lg-btn {
        width: 279px;
        height: 60px
    }
    .hero-container {
        background-position: 30% 0
    }
    .section-image-container {
        display: none
    }
    .grid-row-two-to-six {
        grid-template-rows: repeat(6, 1fr)
    }
    .grid-row-three-to-six {
        width: 100%;
        grid-template-rows: repeat(9, 1fr)
    }
    .solutions-card-container {
        max-width: 100%
    }
    .footer-link {
        line-height: 1.8
    }
    .heading-2 {
        font-size: 28px
    }
    .heading-3,
    .heading-4 {
        font-size: 18px
    }
}